#game-summary-container {
    background-color: #2F0861;
    width: 380px;
    height: 600px;
    margin: auto;
}
.text-sum-que {
    background-color: #9074B8
    ;
}

.text-sum-ans {
    background-color: #7A58AF;
}
.game-summary-list {
    height: 35rem;
}