#leaderboard-container {
    background-image: url("../../assets/leaderboard-screen.svg");
    background-repeat: no-repeat;
    width: 430px;
    margin: auto;
}

 .custom-drawer .ant-drawer-body::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
}

.custom-drawer .ant-drawer-body::-webkit-scrollbar-track {
    background: transparent; /* Color of the tracking area */
}

.custom-drawer .ant-drawer-body::-webkit-scrollbar-thumb {
    background:  rgba(144, 116, 184, 0.6); /* Color of the scroll thumb */
    border-radius: 10px; /* Radius for the scroll thumb */
    border: 3px solid transparent; /* Force a visible thumb by creating a tiny border */
    background-clip: content-box; /* Clip background to the content (ignoring borders) */
}

.custom-drawer .ant-drawer-body::-webkit-scrollbar-thumb:hover {
    background:  rgba(144, 116, 184, 0.8); /* Add a hover effect with a slightly opaque white color */
}



#scrollableDiv  .ant-drawer-body::-webkit-scrollbar {
    width: 10px; /* Width of the vertical scrollbar */
}

#scrollableDiv  .ant-drawer-body::-webkit-scrollbar-track {
    background: transparent; /* Color of the tracking area */
}

#scrollableDiv  .ant-drawer-body::-webkit-scrollbar-thumb {
    background:  rgba(144, 116, 184, 0.6); /* Color of the scroll thumb */
    border-radius: 10px; /* Radius for the scroll thumb */
    border: 3px solid transparent; /* Force a visible thumb by creating a tiny border */
    background-clip: content-box; /* Clip background to the content (ignoring borders) */
}

#scrollableDiv  .ant-drawer-body::-webkit-scrollbar-thumb:hover {
    background:  rgba(144, 116, 184, 0.8); /* Add a hover effect with a slightly opaque white color */
}

.custom-drawer .ant-drawer-close-x {
    color: white;
  }