#leaderboard-container {
    background-image: url("../../assets/leaderboard-screen.svg");
    background-repeat: no-repeat;
    width: 430px;
    height: 700px;
    margin: auto;
}

#scrollableDiv::-webkit-scrollbar {
    display: none;
}